
::selection {
    background-color: #464d33;
    color: white;
  }
  
  /* ** Mozilla based browsers ** */
  
  ::-moz-selection {
    background-color: #464d33;
    color: white;
  }
  
  /* **For Other Browsers ** */
  
  ::-o-selection {
    background-color: #464d33;
    color: white;
  }
  
  ::-ms-selection {
    background-color: #464d33;
    color: white;
  }
  
  @font-face {
    font-family: Medline;
    src:  url('fonts/Medline/Medine-Regular.woff') format('woff2');
  }

  @font-face {
    font-family: PinkBrown;
    src:  url('fonts/PinkBrown/Pink_and_Brown-Regular.woff') format('woff2');
  }

  @font-face {
    font-family: Smarta;
    src:  url('fonts/Smarta/Smarta-Regular.woff') format('woff2');
  }

  @font-face {
    font-family: Segatha;
    src:  url('fonts/Segatha/Segatha.otf') format('opentype');
  }

  @font-face {
    font-family: Loki;
    src:  url('fonts/Loki/Loki-Regular.otf') format('opentype');
  }

  

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    
    border-radius: 3%;
  }
  
  
  .buttonPD {
    background-color: rgb(255, 153, 58);
    color: white;
    font-family: 'Medline', serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 12px 24px;
  }
  
  .buttonPD:hover {
    background-color: rgb(182, 111, 45);
    color: white;
  }

  .buttonGD {
    background-color: rgba(255, 255, 255, 0.831);
    backdrop-filter:  blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: rgb(41, 41, 41);
    font-family: 'Medline', serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 12px 24px;
  }
  

.gridImage{
  min-height: 300px;
  height: 300px;
  max-height: 300px;
  border-radius: 5%;

}

@media screen and (max-width:767px){
  .notMobile{
     display:none;
   }
   .MenuHeader {
    margin-top: 10%;
  }
}

.nav-item{
  white-space: nowrap;
}

.nav-link {
  color: white !important;
}
.nav-link.active {
  color: #ffffff !important;
  background-color: #3f452e;
}