
::selection {
    background-color: #464d33;
    color: white;
  }
  
  /* ** Mozilla based browsers ** */
  
  ::-moz-selection {
    background-color: #464d33;
    color: white;
  }
  
  /* **For Other Browsers ** */
  
  ::-o-selection {
    background-color: #464d33;
    color: white;
  }
  
  ::-ms-selection {
    background-color: #464d33;
    color: white;
  }
  
  @font-face {
    font-family: Medline;
    src:  url('fonts/Medline/Medine-Regular.woff') format('woff2');
  }

  @font-face {
    font-family: PinkBrown;
    src:  url('fonts/PinkBrown/Pink_and_Brown-Regular.woff') format('woff2');
  }

  @font-face {
    font-family: Smarta;
    src:  url('fonts/Smarta/Smarta-Regular.woff') format('woff2');
  }

  @font-face {
    font-family: Segatha;
    src:  url('fonts/Segatha/Segatha.otf') format('opentype');
  }

  @font-face {
    font-family: Loki;
    src:  url('fonts/Loki/Loki-Regular.otf') format('opentype');
  }

  @font-face {
    font-family: Branch;
    src:  url('fonts/Branch Font/Branch.otf') format('opentype');
  }

  @font-face {
    font-family: MilkyWay;
    src:  url('fonts/milky-walky-ligature-sans-serif/MilkyWalky-Regular.otf') format('opentype');
  }

  @font-face {
    font-family: Moniqa;
    src:  url('fonts/Branch Font/MONIQA_v.1.0/Fonts/Variable-PS (OTF)/CYR_CT_OP_Emberly Regular [wdth,wght]-VF.otf') format('opentype');
  }

  @font-face {
    font-family: MoniqaD;
    src:  url('fonts/Branch Font/MONIQA_v.1.0/Fonts/OpenType-PS (OTF)/Moniqa-Display.otf') format('opentype');
  }
  


  body, html {
    width: 100%;
height: 100%;
margin: 0;
padding: 0;
scroll-behavior: smooth;
transition: all 0.5s;
background-color:  #ffffff;
  }


  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 0%;
  }
  
  
  .buttonPD {
    background-color: rgb(41, 38, 35);
    color: white;
    font-family: 'Medline', serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 12px 24px;
  }


.menunavbar{
  max-height: 90px;
  height: 90px;
}
.menunavbarR{
  max-height: 90px;
  height: 90px;
}

.scrollbar{
  margin-top: 80px;
}


.scrollbarR{
  margin-top: 85px;
}

.mobileonly{
  visibility: hidden;
}

@media screen and (max-width:767px){
  .notMobile{
     display:none;
   }
   .MenuHeader {
    margin-top: 40%;
  }
  .menunavbar{
    max-height: 60px;
    height: 60px;
    margin-top: 50px;
  }
  .scrollbar{
    margin-top: 100px;
  }
  .scrollbarR{
    margin-top: 50px;
  }
  .mobileonly{
    visibility: visible;
  }
}


.nav-pills > li > a.active {
  background-color: rgba(209, 204, 200, 0.413) !important;
}

.buttonGr {
  background-color: transparent;
  border: 1px solid rgba(32, 32, 32, 0.746);
  border-radius: 30px;
  backdrop-filter:  blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: rgb(0, 0, 0);
  font-family: 'Medline', serif;
  font-size: 0.7rem;
  font-weight: 400;
  padding: 12px 24px;
  
}

.buttonLux {
  background-color: #181818;
  backdrop-filter:  blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: rgb(255, 255, 255);
  font-family: 'Forum', cursive;
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 24px;
}

.buttonLux2 {
  background-color: #ffffff;
  backdrop-filter:  blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: rgb(0, 0, 0);
  font-family: 'Forum', cursive;
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 24px;
}

.buttonB {
  height: 60px;
  background-color: #18181800;
  color: rgb(255, 255, 255);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.5vmin; 
  font-weight: 300;
  border-left: 1px rgba(99, 99, 99, 0.24) solid;
  border-right: 1px rgba(99, 99, 99, 0.24) solid;
}

.gridImage{
  min-height: 300px;
  height: 300px;
  max-height: 300px;
  border-radius: 0px;

}
.modal-backdrop
{
    opacity:0 !important;
}